
<h2><%= @post.name %></h2>
<h5>Author: <%= @user.email%></h5>
<%= @post.article %>
</br>
</br>

<% if current_user == @post.user %>
  <%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-success btn-sm' %>
  <%= link_to "Delete", post_path(@post),
                      :data => { :confirm => "Are you sure you want to delete this post?",
                                :method => "delete"},
                      :class => "btn btn-danger btn-sm" %>
<% end %>

